<nav class="navbar navbar-expand-md card-feel" style="background-color: #0c1654;color: #FFF;">
    <!-- Brand -->
    <a class="navbar-brand text-white" href="#" data-toggle="collapse" data-target="#collapsibleNavbar">
        <!-- <img src="/img/android-icon-48x48.png" style="border-radius: 0.5rem;">  -->
        <span class="text-white">Agolia BDC</span>
    </a>
    <a href="javascript:void(0)">
        <i class="material-icons">perm_identity</i> <span class="agent-title">SB-A21884</span>
    </a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-success" href="#">
                    <i class="material-icons">sync_alt</i> <span class="buy-title">BUY</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#">
                    <i class="material-icons">sync_alt</i> <span class="sell-title">SELL</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="material-icons">payment</i> <span class="transaction-title">TRANSACTIONS</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="material-icons">file_copy</i> <span class="transaction-completed-title">COMPLETED</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="material-icons">exit_to_app</i> <span class="logout-title">LOGOUT</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid main-contents" id="select-option">
    <div class="row">
        <div class="col-md-6">
            <div class="card-feel card-box text-center" style="padding-top: 20%;min-height: 800px;">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="text-white">SEBASTIAN BDC</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center" style="width: 100%;margin-top: 50%;">
                        404 - Not Found
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
