<nav class="navbar navbar-expand-md card-feel" style="background-color: #0c1654;color: #FFF;">
    <!-- Brand -->
    <a class="navbar-brand text-white" href="#" data-toggle="collapse" data-target="#collapsibleNavbar">
        <!-- <img src="/img/android-icon-48x48.png" style="border-radius: 0.5rem;">  -->
        <span class="text-white">Agolia BDC</span>
    </a>
    <a href="javascript:void(0)">
        <i class="material-icons">perm_identity</i> <span class="agent-title">SB-A21884</span>
    </a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-success" href="#">
                    <i class="material-icons">sync_alt</i> <span class="buy-title">BUY</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#">
                    <i class="material-icons">sync_alt</i> <span class="sell-title">SELL</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="material-icons">payment</i> <span class="transaction-title">TRANSACTIONS</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="material-icons">file_copy</i> <span class="transaction-completed-title">COMPLETED</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="javascript:void(0);" onclick="upgradeApp()">
                    <i class="material-icons">file_copy</i> <span class="transaction-completed-title">UPGRADE APP</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="material-icons">exit_to_app</i> <span class="logout-title">LOGOUT</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid main-contents" id="select-option">
    <div class="row">
        <div class="col-md-6">
            <div class="card-feel card-box text-center" style="padding-top: 20%;">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <span class="text-white">SEBASTIAN BDC</span> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" style="width: 50%;">
                        <a href="/buy">
                            <button class="btn btn-success" onsubmit="startBuy()" style="padding: 2rem;">
                                <i class="material-icons">money</i> <span class="buy-title">BUY</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-6" style="width: 50%;">
                        <a href="/sell">
                            <button class="btn btn-danger" onsubmit="startSell()" style="padding: 2rem;">
                               <i class="material-icons">money</i>  <span class="sell-title">SELL</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main-contents" id="main-contents">
    <form method="POST" onsubmit="return saveToQueue()">
        <div class="row">
            <div class="col-md-6">
                <div class="card-feel card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Customer</h5>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_name">Names</label>
                                <input type="text" onblur="previewCustomerName()" class="form-control input-classic" placeholder="Eg, Suleiman Frank" id="customer_name" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_phone">Phone Number</label>
                                <input type="number" step="any" class="form-control input-classic" placeholder="Eg, 09090009000" id="customer_phone" onkeyup="validatePhoneNumber(this)" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_email">Email</label>
                                <input type="email" class="form-control input-classic" placeholder="someone@domain.com" id="customer_email" required="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-feel card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Exchange</h5>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_currency">Currency</label>
                                <select class="form-control text-primary" id="customer_currency" required="">
                                    <option value="1">USD/NGN</option>
                                    <option value="2">EUR/NGN</option>
                                    <option value="3">GBP/NGN</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_volume">Volume</label>
                                <input type="text" pattern="[0-9.,]+" onblur="calculateEquivalent()" onkeyup="formatVolume(this)" step="any" min="0" id="customer_volume" class="form-control input-classic" placeholder="Eg, 1,000,000" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_rate">Rate</label>
                                <input type="text" pattern="[0-9.,]+" onblur="calculateEquivalent()" onkeyup="formatRate(this)" step="any" min="0" id="customer_rate" class="form-control input-classic" placeholder="Eg, 360.00" value="0" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" id="exchange-preview"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-feel card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Pay <span id="preview-customer-name"></span></h5>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6" style="width: 50%;">
                            <div class="form-group">
                                <label for="pay_customer_cash">Cash</label>
                                <input type="text" class="form-control input-classic" placeholder="0.00" id="pay_customer_cash">
                            </div>
                        </div>
                        <div class="col-sm-6" style="width: 50%;">
                            <div class="form-group">
                                <label for="pay_customer_wire">Wire</label>
                                <input type="text" onkeyup="togglePayWire()" class="form-control input-classic" placeholder="0.00" id="pay_customer_wire">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="pay_customer_bank_name">Bank Name</label>
                                <select class="form-control" id="pay_customer_bank_name">
                                    <option value="">Select Bank</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customer_currency">Account Number</label>
                                <input type="number" class="form-control input-classic" placeholder="Eg, 002123330" step="any" min="0" id="customer_bank_nuban">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-feel card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Receive - SEBASTIAN BDC</h5>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6" style="width: 50%;">
                            <div class="form-group">
                                <label for="pay_customer_cash">Cash</label>
                                <input type="text" class="form-control input-classic" placeholder="0.00" id="receive_customer_cash">
                            </div>
                        </div>
                        <div class="col-sm-6" style="width: 50%;">
                            <div class="form-group">
                                <label for="pay_customer_cash">Wire</label>
                                <input type="text" class="form-control input-classic" placeholder="0.00" id="receive_customer_wire">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="receive_bank_name">Bank Name</label>
                                <select class="form-control" id="receive_bank_name">
                                    <option value="">Select Bank</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="receive_bank_nuban">Account Number</label>
                                <input type="number" class="form-control input-classic" placeholder="Eg, 002123330" step="any" min="0" id="receive_bank_nuban">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    // $("#start-sell").click(function () {
    //     $("#main-contents").show();
    //     $("#select-option").hide();
    // })

    // $("#start-buy").click(function () {
    //     $("#main-contents").show();
    //     $("#select-option").hide();
    // })
    function startSell() {
        $("#main-contents").show();
        $("#select-option").hide();
    }

    function startBuy() {
        $("#main-contents").show();
        $("#select-option").hide();
    }
</script>