body {
	background: #1479e4;
}

.agent-title {
	position: relative;
	top: -5px;
}

.print-title {
	position: relative;
	top: -5px;
}

.buy-title {
	position: relative;
	top: -5px;
}

.sell-title {
	position: relative;
	top: -5px;
}

.transaction-title {
	position: relative;
	top: -5px;
}

.transaction-completed-title {
	position: relative;
	top: -5px;
}

.settings-title {
	position: relative;
	top: -5px;
}

.logout-title {
	position: relative;
	top: -5px;
}

.main-contents {
	/*background-color: #031480;*/
}

.card-feel {
	/*box-shadow: 0rem 0rem 0.5em 0em rgba(200,200,200,0.95)*/
	box-shadow: 0rem 0rem 0.5em 0em rgb(43, 54, 144);
}

.card-box {
	min-height: 200px;
    margin-top: 20px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #0c1654;
    color: #FFF;
}

.input-classic {
	padding: 1rem;
	font-size: 14px;
	border-radius: 5px;
	border:1px thin #CCC;
}

#notification-wrapper {
	position: fixed;
    min-height: 60px;
    min-width: 100%;
    box-shadow: 0rem 0rem 0.3rem 0rem rgba(0,0,0,0.5);
    /* border-radius: 5px; */
    /* right: 20px; */
    bottom: 0;
    /* margin-bottom: 30px; */
    padding: 1rem;
    font-size: 12px;
    color: #64696d;
    background-color: #e6ebf1;
    z-index: 100;
    display: none;
}

.foot-note {
	color: #CCC;
}